@font-face {
    font-family: 'Century Gothic Regular';
    src: url('CenturyGothic.ttf');
    src: url('CenturyGothic.ttf?#iefix') format('embedded-opentype'),
    url('CenturyGothic.ttf') format('woff'),
    url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Century Gothic Regular";
}

div.main_container {
    width: 100vh;
    padding: 20px;
}
div.add_news {
    margin-top: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    color: lightgrey;
}
div.note {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
}
span.news_title {
    font-size: 20px;
    margin-bottom: 10px;
}
span.news_content {
    font-size: 15px;
}
span.news_time {
    font-size: 15px;
    color: lightgrey;
}
